# Auto loans default

The project is about analysis and predition based on the data regarding auto loans defaults. The goal is to find out what are the main factors impacting if the client deafults on the auto loan or not. It consist of exploratory data analysis, feauture engineering, some visualization and model creation and tuning. 

The data is taken from on the Kaggle's hackathons:
https://www.kaggle.com/datasets/saurabhbagchi/dish-network-hackathon?select=Data_Dictionary.csv

In [1]:
#Importing neccessery libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Data

Since that was a contest, the data is already splitted into train and test, thus this part has been skipped. "data_dictionary is the description of columns".

In [2]:
# Reading the data

data_dictionary = pd.read_csv('Data_Dictionary.csv')
train_data = pd.read_csv("Train_Dataset.csv")
test_data = pd.read_csv("Test_Dataset.csv")

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (1,7,8,16,17,18,19,20,35) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (7,8,16,17,18,19,20,34,35) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

During the reading of the files the warning was triggered: 

"<i>DtypeWarning: Columns (1,7,8,16,17,18,19,20,35) have mixed types.Specify dtype option on import or set low_memory=False</i>". 

That already indicated that some data cleansing or feauture engineering would be required.

In [3]:
pd.options.display.max_colwidth = 150 # Option to see the entire content of the description
data_dictionary

,Variable,Description
0,ID,Client Loan application ID
1,Client_Income,Client Income in $
2,Car_Owned,Any Car owned by client before applying for the loan for another car (0 means No and 1 means otherwise)
3,Bike_Owned,Any bike owned by client (0 means No and 1 means otherwise)
4,Active_Loan,Any other active loan at the time of aplication of loan (0 means No and 1 means otherwise)
5,House_Own,Any house owned by client (0 means No and 1 means otherwise)
6,Child_Count,Number of children the client has
7,Credit_Amount,Credit amount of the loan in $
8,Loan_Annuity,Loan annuity in $
9,Accompany_Client,Who accompanied the client when client applied for the loan
10,Client_Income_Type,Clients income type
11,Client_Education,Highest level of education ahieved by client
12,Client_Marital_Status,"Marital status of client (D- Divorced, S- Single, M- Married, W- Widowed)"
13,Client_Gender,Gender of the Client
14,Loan_Contract_Type,"Loan Type (CL- Cash Loan, RL- Revolving Loan)"
15,Client_Housing_Type,Client Housing situation
16,Population_Region_Relative,Relative population of the region where the client is living. Higher value means the client is living in more populated area
17,Age_Days,Age of the client at the time of application submission
18,Employed_Days,"Days before the application, the client started earning"
19,Registration_Days,"Days before the loan application, the client changed his/her registration"
20,ID_Days,"Days before the loan application, the client changed his/her identity document with which the loan was applied"
21,Own_House_Age,Age of Client's house in years
22,Mobile_Tag,Mobile Number provided by Client (1 means Yes and 0 means No)
23,Homephone_Tag,Homephone Number provided by Client (1 means Yes and 0 means No)
24,Workphone_Working,Was workphone number reachable (1 means Yes and 0 means No)
25,Client_Occupation,Client Occupation type
26,Client_Family_Members,Number of family members does client have
27,Cleint_City_Rating,Client city rating. 3 denotes best and 2 denotes good and 1 denotes average
28,Application_Process_Day,"Day of the week on which client applied for the loan (0-Sun, 1-Mon,2-Tues, 3-Wed, 4-Thrus,5-Fri, 6-Sat)"
29,Application_Process_Hour,hour of the day on which client applied for the loan
30,Client_Permanent_Match_Tag,Indication if client contact address does not match permanent address.
31,Client_Contact_Work_Tag,Indication if client work address does not match contact address.
32,Type_Organization,Type of organization where client works
33,Score_Source_1,Score sourced from other source. This is a normalzied socre
34,Score_Source_2,Score sourced from other source. This is a normalzied socre
35,Score_Source_3,Score sourced from other source. This is a normalzied socre
36,Social_Circle_Default,How many friends/family member of client defaulted on any loan payment in last 60 days
37,Phone_Change,"How many days before the loan application, client changed his/her phone"
38,Credit_Bureau,Total number of enquiries in last year
39,Default,1 means the client defaulted on loan payments and 0 means otherwise

There are 40 columns in total; Some of them are quite typical for credit risk analysis like income, loan amount, education, financial situation or number of issues. Additionally we also have information that potentially look irrelevant (e.g. day of the week and hour that client applied for a loan or age of ID document), but may surprisingly prove otherwise.

Last column ("Default") is to indicate the the client defaulted or not. This is going to be the target value for training and then predicting.

### Data cleaning, feauture engineering

There is some work to be done to redefine types of some columns, remove the outliers and creating dummy values.

In [4]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121856 entries, 0 to 121855
Data columns (total 40 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   ID                          121856 non-null  int64
 1   Client_Income               118249 non-null  object
 2   Car_Owned                   118275 non-null  float64
 3   Bike_Owned                  118232 non-null  float64
 4   Active_Loan                 118221 non-null  float64
 5   House_Own                   118195 non-null  float64
 6   Child_Count                 118218 non-null  float64
 7   Credit_Amount               118224 non-null  object
 8   Loan_Annuity                117044 non-null  object
 9   Accompany_Client            120110 non-null  object
 10  Client_Income_Type          118155 non-null  object
 11  Client_Education            118211 non-null  object
 12  Client_Marital_Status       118383 non-null  object
 13  Client_Gender               119443 non-null  object
 14  Loan_Contract_Type          118205 non-null  object
 15  Client_Housing_Type         118169 non-null  object
 16  Population_Region_Relative  116999 non-null  object
 17  Age_Days                    118256 non-null  object
 18  Employed_Days               118207 non-null  object
 19  Registration_Days           118242 non-null  object
 20  ID_Days                     115888 non-null  object
 21  Own_House_Age               41761 non-null   float64
 22  Mobile_Tag                  121856 non-null  int64
 23  Homephone_Tag               121856 non-null  int64
 24  Workphone_Working           121856 non-null  int64
 25  Client_Occupation           80421 non-null   object
 26  Client_Family_Members       119446 non-null  float64
 27  Cleint_City_Rating          119447 non-null  float64
 28  Application_Process_Day     119428 non-null  float64
 29  Application_Process_Hour    118193 non-null  float64
 30  Client_Permanent_Match_Tag  121856 non-null  object
 31  Client_Contact_Work_Tag     121856 non-null  object
 32  Type_Organization           118247 non-null  object
 33  Score_Source_1              53021 non-null   float64
 34  Score_Source_2              116170 non-null  float64
 35  Score_Source_3              94935 non-null   object
 36  Social_Circle_Default       59928 non-null   float64
 37  Phone_Change                118192 non-null  float64
 38  Credit_Bureau               103316 non-null  float64
 39  Default                     121856 non-null  int64
dtypes: float64(15), int64(5), object(20)
memory usage: 37.2+ MB

In [5]:
# % of missing values for given columns, sorted

train_data.isnull().sum().sort_values(ascending=False)/len(train_data)*100

Own_House_Age                 65.729221
Score_Source_1                56.488806
Social_Circle_Default         50.820641
Client_Occupation             34.003250
Score_Source_3                22.092470
Credit_Bureau                 15.214680
ID_Days                        4.897584
Score_Source_2                 4.666163
Population_Region_Relative     3.985852
Loan_Annuity                   3.948923
Client_Income_Type             3.037191
Client_Housing_Type            3.025702
Phone_Change                   3.006828
Application_Process_Hour       3.006007
House_Own                      3.004366
Loan_Contract_Type             2.996159
Employed_Days                  2.994518
Client_Education               2.991236
Child_Count                    2.985491
Active_Loan                    2.983029
Credit_Amount                  2.980567
Bike_Owned                     2.974002
Registration_Days              2.965796
Type_Organization              2.961692
Client_Income                  2.960051
Age_Days                       2.954307
Car_Owned                      2.938715
Client_Marital_Status          2.850085
Application_Process_Day        1.992516
Client_Gender                  1.980206
Client_Family_Members          1.977744
Cleint_City_Rating             1.976924
Accompany_Client               1.432839
Default                        0.000000
Mobile_Tag                     0.000000
Homephone_Tag                  0.000000
Workphone_Working              0.000000
Client_Permanent_Match_Tag     0.000000
Client_Contact_Work_Tag        0.000000
ID                             0.000000
dtype: float64

to exclude ID, which does not carry informative value

In [6]:
train_data.describe()

,ID,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Own_House_Age,Mobile_Tag,Homephone_Tag,Workphone_Working,Client_Family_Members,Cleint_City_Rating,Application_Process_Day,Application_Process_Hour,Score_Source_1,Score_Source_2,Social_Circle_Default,Phone_Change,Credit_Bureau,Default
count,1.218560e+05,118275.000000,118232.000000,118221.000000,118195.000000,118218.000000,41761.000000,121856.000000,121856.000000,121856.000000,119446.000000,119447.000000,119428.000000,118193.000000,53021.000000,116170.000000,59928.000000,118192.000000,103316.000000,121856.000000
mean,1.216093e+07,0.342854,0.332262,0.499175,0.692060,0.417779,12.157324,0.999992,0.200499,0.281201,2.154329,2.030038,3.159736,12.063100,0.501213,0.518625,0.117428,962.106056,1.891082,0.080792
std,3.517694e+04,0.474665,0.471026,0.500001,0.461644,0.728802,12.056079,0.002865,0.400375,0.449587,0.912686,0.504407,1.759045,3.280695,0.211204,0.740248,0.107974,827.976726,1.861921,0.272517
min,1.210000e+07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.014568,0.000005,0.000000,0.000000,0.000000,0.000000
25%,1.213046e+07,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,1.000000,0.000000,0.000000,2.000000,2.000000,2.000000,10.000000,0.333481,0.390164,0.057700,272.000000,0.000000,0.000000
50%,1.216093e+07,0.000000,0.000000,0.000000,1.000000,0.000000,9.000000,1.000000,0.000000,0.000000,2.000000,2.000000,3.000000,12.000000,0.504657,0.564978,0.088700,755.000000,1.000000,0.000000
75%,1.219139e+07,1.000000,1.000000,1.000000,1.000000,1.000000,15.000000,1.000000,0.000000,1.000000,3.000000,2.000000,5.000000,14.000000,0.673890,0.664011,0.148500,1570.000000,3.000000,0.000000
max,1.222186e+07,1.000000,1.000000,1.000000,1.000000,19.000000,69.000000,1.000000,1.000000,1.000000,16.000000,3.000000,6.000000,23.000000,0.945741,100.000000,1.000000,4185.000000,22.000000,1.000000

In [9]:
train_data['Own_House_Age'].head(20)

0      NaN
1      0.0
2      NaN
3      NaN
4      6.0
5      NaN
6     10.0
7      NaN
8     14.0
9      NaN
10     NaN
11     NaN
12     1.0
13     NaN
14     NaN
15    10.0
16     NaN
17     3.0
18     NaN
19     NaN
Name: Own_House_Age, dtype: float64